.custom-select {
    position: relative;
}
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    width: 160px;
    color: var(--color-text);
    background-color: var(--color-bg-secondary) ;
    border-radius: 0.35rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0, 01);
    
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color:var(--color-text) transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: var(--color-text) transparent transparent transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: var(--color-text);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    margin-top: 0.3rem;
    background-color:  var(--color-bg-secondary) ;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0.35rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0, 01), 0 2px, 4px -1px rgba(0,0,0, 0.06)
  }

  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
    border-radius: 0.35rem;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.35rem;
  }

  @media (max-width: 600px) {
    .select-selected {
      width: 100%;
    }}